div{
    border: solid rgb(29, 5, 5) 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    height: 850px;
    border-radius: 15px;
    
}

h1{
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
body form div {
    text-align: center;
}
input{
    margin: 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    
}
select{
    height: 32px;
    width: 290px;
    border-radius: 10px;
    margin: 30px;
}
.file{
    float: left;
    
}
body{
    background: url('img.jpg')no-repeat;
}

h2{
    float: left;
    margin-left: 70px;
}
hr{
   color: rgb(156, 45, 45);
    height: 5px;
}
textarea{
    padding: 45px;

}
button{
   background-color:burlywood ;
}

